{% extends 'base.html.twig' %}

{% block title %}Hello MovieSeeController!{% endblock %}

{% block body %}

<div class="wrapper search">
    <h1>Liste des films vues</h1>

    <table>
        <thead>
            <tr>
                <th>Poster</th>
                <th>Titre</th>
                <th>Année</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
                <tr>
                    <td>
                        <img src="{{ movie.poster }}" alt="poster" class='poster'>
                    </td>
                    <td>{{ movie.name }}</td>
                    <td>{{ movie.year }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
