body {
    background-color: #111111;
    font-size: 16px;
}

button, input[type="submit"], input[type="button"] {
    background: #2ECC40;
    color: white;
    padding: 5px;
    border: none;
}

input {
    padding: 5px;
}