body {
    background-color: #212121;
    font-size: 16px;
    color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #212121 inset !important;
    color: white;
}
input:-webkit-autofill {
    -webkit-text-fill-color: #ff9800 !important;
}

input {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
}

a {
    color: inherit;
}

.wrapper {
    margin: 1em auto; 
    max-width: 800px; 
    width: 95%; 
    font: 18px/1.5 sans-serif;  
}