header {
    
    ul {
        background: #000000;
        margin: 0;
        height: 5rem;
        list-style: none;
        display: flex;  
        justify-content: center;
    }
    
    li {
        line-height: 35px;
        display: flex;  
        align-items: center;
        transition: 0.15s;

        &:hover {
            background: #484848
        }
        
        a:link {
            text-decoration: none;
            padding: .375rem 1.75rem;
            font-size: 1.75rem;
        }
    }

}