// VARIABLES // ============================== //
$bg-color: #424242;
$orange: #2196F3;
$orange: #ff9800;
$muted-color: mix(white, $bg-color, 70%);
$trans-time: 300ms;
$width: 320px;

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  background: $bg-color;
}

// FORM // ============================== //

.group {
  position: relative;
  margin: 45px 0;
}

// INPUTS // ============================== //
.group textarea {
  resize: none;
}

.group input,
.group textarea {
  background: none;
  color: $muted-color;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: $width;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $muted-color;
  &:focus {
    outline: none;
  }
  &:focus ~ label,
  &:valid ~ label {
    top: -14px;
    font-size: 12px;
    color: $orange;
  }
  &:focus ~ .bar:before {
    width: $width;
  }
}

.group input[type="password"] {
  letter-spacing: 0.3em;
}

.group label {
  color: $muted-color;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: $trans-time ease all;
}

.group .bar {
  position: relative;
  display: block;
  width: $width;
  &:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: $orange;
    transition: $trans-time ease all;
    left: 0%;
  }
}

// BUTTONS // ============================== //
.group .btn {
  background: #fff;
  color: mix(black, $muted-color, 25%);
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  &:hover {
    color: mix(black, $muted-color, 30%);
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
  }
  &.btn-link {
    background: $orange;
    color: mix(white, $orange, 80%);
    &:hover {
      background: darken($orange, 5%);
      color: mix(white, $orange, 85%);
    }
  }
  &.btn-submit {
    background: $orange;
    color: mix(white, $orange, 70%);
    &:hover {
      background: darken($orange, 5%);
      color: mix(white, $orange, 85%);
    }
  }
  &.btn-cancel {
    background: #eee;
    &:hover {
      background: darken(#eee, 5%);
      color: mix(black, $muted-color, 30%);
    }
  }
}

.group .btn-box {
  text-align: center;
  margin: 50px 0;
}